
<div class='subscribe-title'>
	<h2>Sign up</h2>
</div>

<div class='forms'>
	<div class='subscirbe-form'>
		<div class='form'>
			<h1>Registered customers</h1>
			<%= simple_form_for(resource, url: registration_path(resource_name)) do |f| %>
			  <%= f.error_notification %>
			  	<div class="form-inputs">
			  		<div class='email'>
			    		<%= f.input :email, required: true, autofocus: true %>
			    	</div>
			    	<br>
			    	<div class="password">
			    		<%= f.input :password, required: true %>
			    	</div>
			    	<br>
			    	<div class="password-confirmation">
			    		<%= f.input :password_confirmation, required: true %>
			  		</div>
			  	</div>

			  <div class="form-actions sign-up">
			    <%= f.button :submit, "Sign up" %>
			  </div>
			<% end %>
		</div>
		<%= render "devise/shared/links" %>
	</div>
</div>